body {
    background: #f4f6fb;
    font-family: "Segoe UI", sans-serif;
    padding: 40px;
}

.cert-wrapper {
    max-width: 700px;
    margin: auto;
    background: white;
    padding: 40px;
    border: 6px solid #667eea;
    border-radius: 16px;
    text-align: center;
}

h1 {
    color: #667eea;
    margin-bottom: 10px;
}

.sub {
    font-style: italic;
    margin-bottom: 20px;
}

h2 {
    margin: 15px 0;
    font-size: 32px;
}

h3 {
    margin: 10px 0;
    color: #333;
}

.text {
    margin: 10px 0;
}

.details {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.footer {
    margin-top: 40px;
}

.sign {
    font-weight: bold;
    margin-top: 5px;
}

.lock {
    text-align: center;
    font-size: 18px;
    margin-top: 30px;
    color: red;
}