* {
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}

body {
    height: 100%;
    width: 100%;
    background: #454545;
    color: #fff;
    border: #454545;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container::-webkit-scrollbar {
    width: 6px;
    display: flex;
}

.container::-webkit-scrollbar-thumb {
    background: #c1c1c1;
    border-radius: 5px;
    display: flex;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    border: #454545;
    border-radius: 20%;
}

.codequestion {
    width: 50%;
    padding: 20px;
    background: #ffffff;
    border-right: 1px solid #ddd;
    overflow-y: auto;
    flex-basis: 50%;
    height: 100vh;
    border: solid;
    overflow-y: scroll;
    overflow-x: scroll;
}

.codequestion::-webkit-scrollbar-thumb {
    width: 6px;
}

h1 {
    color: #454545;
}

h2 {
    color: #454545;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.PS {
    padding-top: 30px;
    padding-left: 40px;
    color: #454545;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h3 {
    padding-top: 40px;
    color: #454545;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.I {
    color: #454545;
    padding-left: 50px;
    padding-top: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h5 {
    padding-top: 40px;
    color: #454545;
}

.J {
    color: #454545;
    padding-left: 50px;
    padding-top: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.i {
    color: #454545;
}

.K {
    color: #454545;
    padding-left: 50px;
    padding-top: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h6 {
    color: #454545;
}

.O {
    color: #454545;
    padding-left: 50px;
    padding-top: 25px;
    background-color: #ddd;
    height: 70px;
    width: 600px;
    border-radius: 5px;
    padding-inline: 100px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.M {
    color: #454545;
    padding-left: 50px;
    padding-top: 25px;
    background-color: #ddd;
    height: 70px;
    width: 600px;
    border-radius: 5px;
    padding-inline: 100px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.right {
    height: 45px;
    background: #1e1e1e;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    font-size: 14px;
}

.topbar .title {
    font-weight: 600;
}

.topbar button {
    background: #333;
    color: white;
    border: 1px solid #555;
    padding: 5px 10px;
    cursor: pointer;
    margin-right: 10px;
}

.codearea {
    width: 50%;
    padding: 10px;
    background: #333;
    flex: 1;
    overflow-y: scroll;
}

#coding {
    width: 100%;
    height: 100%;
    resize: none;
    border: 1px solid #aaa;
    outline: none;
    padding: 12px;
    line-height: 1.5;
    box-sizing: border-box;
    overflow: auto;
}

#Reset {
    width: 100px;
    padding: 7px;
    height: auto;
    padding-inline: 5px;
    border: none;
    border-radius: 5px;
    background: #e14f4f;
    font-weight: 500;
    cursor: pointer;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#ThemeBtn {
    width: 100px;
    padding-top: 4px;
    padding: 5px;
    height: auto;
    padding-inline: 5px;
    border: none;
    border-radius: 5px;
    background: #49c1ddc7;
    font-weight: 300;
    cursor: pointer;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

iframe {
    width: 100%;
    height: 100vh;
    background: white;
    border: 0;
    outline: 0;
}

.bottom {
    height: 45px;
    background: #1e1e1e;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 15px;
    font-size: 14px;
}

#runcode {
    width: 100px;
    padding: 7px;
    height: auto;
    padding-inline: 5px;
    border: none;
    border-radius: 5px;
    background: #f69c30;
    font-weight: 500;
    cursor: pointer;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#submit {
    width: 100px;
    padding: 7px;
    height: auto;
    padding-inline: 5px;
    border: none;
    border-radius: 5px;
    background: #89f630;
    font-weight: 500;
    cursor: pointer;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}