* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: rgb(239, 243, 253);
    padding: 30px;
}

h1 {
    font-size: 28px;
    margin-bottom: 5px;
}

.courseDesc {
    color: rgb(122, 122, 122);
    margin-bottom: 20px;
}

.COURSE {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
    gap: 25px;
}

.Course1 {
    background-color: white;
    padding: 20px;
    border-radius: 14px;
    box-shadow: 0 10px 25px rgb(0, 0, 0, 0.08);
}

h3 {
    margin-bottom: 5px;
}

.Course2 {
    background-color: white;
    padding: 20px;
    border-radius: 14px;
    box-shadow: 0 10px 25px rgb(0, 0, 0, 0.08);
}

.meta1 {
    font-size: 13px;
    color: gray;
    margin-bottom: 10px;
}

.meta2 {
    font-size: 13px;
    color: gray;
    margin-bottom: 10px;
}

.progress {
    background: whitesmoke;
    border-radius: 10px;
    height: 8px;
    margin: 10px;
}

.listpython {
    background-color: whitesmoke;
    border-radius: 10px;
    height: 8px;
    margin: 10px;
}

.bar {
    height: 100%;
    background-color: rgb(89, 105, 248);
    border-radius: 10px;
}

button {
    width: 100%;
    padding: 10px;
    padding-inline: 5px;
    padding-right: 5px;
    border: none;
    border-radius: 5px;
    background: rgb(114, 114, 240);
    color: white;
    cursor: pointer;
    font-weight: 100;
    font-family: Arial, Helvetica, sans-serif;
}

.N {
    color: rgb(91, 90, 90);
    font-size: 17px;
    margin-bottom: 10px;
}

.M {
    color: rgb(91, 90, 90);
    font-size: 17px;
    margin-bottom: 10px;
}

.K {
    color: rgb(91, 90, 90);
    font-size: 17px;
    margin-bottom: 10px;
}

.Course3 {
    background-color: white;
    padding: 20px;
    border-radius: 14px;
    box-shadow: 0 10px 25px rgb(0, 0, 0, 0.08);
}

.listjava {
    background-color: whitesmoke;
    border-radius: 10px;
    height: 8px;
    margin: 10px;
}

.meta3 {
    font-size: 13px;
    color: gray;
    margin-bottom: 10px;
}

.statusinprogress {
    color: orange;
    font-style: bold;
}

.statuscurrentlylocked {
    color: red;
}